.video:hover {
    -webkit-transform: scale(1.10);
    -moz-transform   : scale(1.10);
    -ms-transform    : scale(1.10);
    -o-transform     : scale(1.10);
    transform        : scale(1.10);
}

.video {
    -webkit-transition: all 1s ease;
    -moz-transition   : all 1s ease;
    -o-transition     : all 1s ease;
    -ms-transition    : all 1s ease;
    transition        : all 1s ease;
    max-width         : 100%;
    float             : left;
    text-align        : center;
    height            : 160px;
    width             : 160px;
    padding           : 2px 8px 8px;
    background        : #FFFFFF;
    color             : #777777;
    overflow          : hidden;
    border            : 6px solid #B5D5F0;
    margin            : 14px;

    figure {
        margin-left  : auto;
        margin-right : auto;
        margin-bottom: 8px;
    }

    figcaption {
        font-size: 8pt;
        overflow : hidden;
    }
}

.overvideo {
    border    : 6px solid #6AABE1;
    background: #FFFFFF;
    color     : black;
}
